*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    font-family: sans-serif;
    background-color: #FAFAFA;
    position: relative;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}